//=============================================================
// CONSTANTS
//=============================================================
$header-blue: #0095D3; 
$header-green: #00BA9B;
$icon-green: #00D5C3;
$red: #D7263D;
$orange: #F46036;
$purple: #2E294E;
$blue-gray: #373F51;

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.50rem;
}

h6 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

button:focus {
	outline: none;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.not-there {
	display: none;
}

//=============================================================
// HEADER
//=============================================================
.page-header {
	height: 65px;
	width: 100%;
	background: linear-gradient(to bottom right, $header-blue, $header-green);
	color: #fff;
	position: relative;

	h4 {
		font-weight: 500;
		padding: 15px 25px;
	}
}

.post-header {
	height: 40px;
	width: 100%;
	background-color: #242C3F;
	color: #fff;

	.home-icon {
		display: inline-block;
		padding: 8px 0 0 20px;
		color: $icon-green;
	}

	p {
		font-weight: 300;
		vertical-align: top;
		padding: 12px 0 0 5px;
		display: inline-block;
	}

	a {
		text-decoration: none;
		color: #fff;
	}

	.date {
		float: right;
		color: #fff;
		margin-right: 50px;
		
		p {
			font-weight: 300;
			font-size: 14px;
		}
	}
}

//=============================================================
// FOOTER
//=============================================================
.footer {
	height: 50px;
	width: 100%;
	background: linear-gradient(to bottom right, $header-green, $header-blue );
	position: fixed;
	bottom: 0;
}

//=============================================================
// SPLASH PAGE
//=============================================================
// SPLASH PAGE - HEADER //
.splash-header {
	height: 100px;
	width: 100%;
	background: linear-gradient(to bottom right, $header-blue, $header-green);
	box-shadow: 0 5px 10px 0px #333;
	color: #fff;
	position: relative;
}

.splash-header h2 {
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 20px;
	left: 100px;
}

.splash-header .in-title {
	font-weight: 300;
}

.header-buttons {
	position: absolute;
	top: 35px;
	right: 100px;

	button {
		margin-right: 20px;
		padding: 8px 16px;
		background-color: rgba(0,0,0,0.0);
		border: 2px solid #fff;
		border-radius: 5px;
		color: #fff;
		font-size: 13px;
		width: 100px;
		transition: .5s;
		cursor: pointer;
	}

	button:hover {
		border: 2px solid $header-blue;
		background: linear-gradient($header-blue, #007db3);
	}
}
// SPLASH PAGE - CONTAINER //
.splash-container {
	height: 100vh;
	background-image: url('../images/bg-img.jpg');
	background-position:no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

//=============================================================
// LOGIN COMPONENT
//=============================================================
.login-component {
	color: #fff;
	background: linear-gradient(to bottom right, #00B4A5, #00A8B6);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0,0,0,0.5);
	border-radius: 5px;
	width: 450px;
	position: absolute;
    right: 75px;
    top: 150px;
    opacity:0;
    animation:slideIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;

    @keyframes slideIn {
	    from {right: 0px; opacity: 0}
	    to {right: 75px; opacity: 1}
	}

	button {
		border: 1px solid #fff;
		color: #fff;
		background-color: rgba(0,0,0,0.0);
		cursor: pointer;
		font-size: 13px;
		font-family: 'Lato';
		padding: 4px;
		width: 70px;
		border-radius: 5px;
	}

	p {
		text-align: center;
		padding-bottom: 20px;
	}

	a {
		text-decoration: none;
		color: #004d40;
	}
}

// LOGIN FORM STYLE //
.login-form-wrapper {
	width: 360px;
	margin: 25px auto;

	input {
		border: 1px solid $header-green;
		display: block;
		margin: 30px;
		padding: 10px;
		width: 300px;
		border-radius: 5px;
	}

	h5 {
		margin-left: 30px;
		text-shadow: 1px 1px #000;
	}

	.log-in-button {
		font-size: 14px;
		color: #fff;
		background: linear-gradient($header-blue, #007db3);
		border: none;
		cursor: pointer;
	}

	.log-in-button:focus {
		outline: none;
	}
}

// REGISTER FORM STYLE //
.register-form-wrapper {
	width: 360px;
	margin: 25px auto;

	input {
		border: 1px solid $header-green;
		padding: 10px;
		border-radius: 5px;
	}

	select {
		border: 1px solid $header-green;
		padding: 10px;
		width: 50px;
		height: 35px;
		border-radius: 5px;
		margin: 0 0 0 30px;
	}

	#input-row {
		width: 300px;
		margin: 10px 30px;
		height: 35px;
	}

	#input-col {
		width: 230px;
		margin: 10px 30px 10px 20px;
		height: 35px;
	}

	h5 {
		margin-left: 30px;
		text-shadow: 1px 1px #000;
	}

	p {
		margin-top: 10px;
	}

	.log-in-button {
		font-size: 14px;
		color: #fff;
		background: linear-gradient($header-blue, #007db3);
		border: none;
		cursor: pointer;
		width: 300px;
		margin: 10px 30px 10px 30px;
	}

	.log-in-button:focus {
		outline: none;
	}
}

//=============================================================
// DASHBOARD PAGE
//=============================================================
.dash-container {
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	height: 100vh;
}

.dash-header {
	height: 130px;
	width: 100%;
	background: linear-gradient(to bottom right, $header-blue, $header-green);
	box-shadow: 0 5px 10px 0px #333;
	color: #fff;
	position: relative;

	h2 {
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		top: 25px;
		left: 100px;
	}

	h5 {
		font-weight: 300;
		text-transform: uppercase;
		position: absolute;
		top: 80px;
		left: 103px;
		color: #1E2633;
	}

	p {
		font-weight: 300;
		text-transform: uppercase;
		position: absolute;
		float: right;
		bottom: 10px;
		right: 100px;
	}

	.in-title {
		font-weight: 300;
	}
}

.dash-buttons {
	max-width: 950px;
	min-width: 950px;
	margin: 25px auto;
	text-align: center;
}

.button {
	display: inline-block;
	width: 250px;
	height: 150px;
	margin: 20px;
	color: #fff;
	border-radius: 20px;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.5);

	p {
		font-weight: 300;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 50px;
		text-shadow: 1px 1px #333;
	}
}

.valet-button {
	background: #E74E3E;
	border-top: 8px solid #EB6E60;
	border-bottom: 8px solid #CC2B19;
}

.myClass-button {
	background: #EEA033;
	border-top: 8px solid #F2B25A;
	border-bottom: 8px solid #D48311;
}

.myProfile-button {
	background: #85C644;
	border-top: 8px solid #A6D576;
	border-bottom: 8px solid #669C30;
}

.teacher-button {
	background: #546B8B;
	border-top: 8px solid #7087A9;
	border-bottom: 8px solid #435670;
}

.student-button {
	background: #00BA9B;
	border-top: 8px solid #00e6bf;
	border-bottom: 8px solid #00806a;
}

.settings-button {
	background: #0095D3;
	border-top: 8px solid #1abaff;
	border-bottom: 8px solid #006b99;
}

//=============================================================
// VALET PAGE
//=============================================================
.valet-container {
	position: relative;
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	height: 100vh;
}

.student-overflow {
	height: 78vh;
	overflow: scroll;
}

.valet-student-list {
	cursor: pointer;
	p {
		font-weight: 300;
		font-size: 18px;
		padding: 18px 8px 18px 20px;
		color: #fff;
		border-bottom: 1px dashed #343c4b;
		border-left: 5px solid $icon-green;
		text-transform: capitalize;
	}
}

.valet-wrapper {
	width: 100%;
}

.student-valet-wrapper {
	width: 70%;
	display: inline-block;

	input {
		font-weight: 300;
		width: 85%;
		height: 40px;
		padding: 8px 8px 8px 20px;
		border: none;
		background-color: rgba(255,255,255,0.8);
		font-size: 16px;
		box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		vertical-align: bottom;
		border-radius: none;
	}

	button {
		width: 15%;
		height:40px;
		border: none;
		background-color: $red;
		color: #fff;
		font-size: 14px;
		font-family: 'Lato';
		cursor: pointer;
	}
}

.authDrivers {
	text-transform: capitalize;
}

//=============================================================
// QUEUE
//=============================================================
.queue-wrapper {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.queue-container {
	background-color: #1E2633;
	height: 84vh;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
	overflow: scroll;

	h6 {
		font-weight: 300;
		color: $icon-green;
		text-align: center;
		height: 40px;
		text-transform: uppercase;
		padding: 7px;
		border-bottom: 1px solid #000;

	}

	p {
		font-weight: 300;
		font-size: 18px;
		padding: 14px 8px 22px 15px;
		color: #fff;
		display: inline-block;
		vertical-align: middle;
		text-transform: capitalize;
	}
}

.student-queue-list {
	border-bottom: 1px solid #000;
	position: relative;
	cursor: pointer;
}

.status-transit {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 15px;
	background: #00BA9B;
	border-top: 2px solid #00e6bf;
	border-bottom: 2px solid #00806a;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
	vertical-align: middle;
}
.status-arrival {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 15px;
	background: #0095D3;
	border-top: 2px solid #1abaff;
	border-bottom: 2px solid #006b99;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
	vertical-align: middle;
}

#small-transit {
	font-size: 12px;
	color: #00BA9B;
	position: absolute;
	left: 35px;
	top: 24px;
}

#small-arrival {
	font-size: 12px;
	color: #0095D3;
	position: absolute;
	left: 35px;
	top: 24px;
}


//=============================================================
// MyCLASS PAGE
//=============================================================
.class-container {
	position: relative;
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	height: 100vh;
}

.class-student-group {
	max-width: 950px;
	min-width: 950px;
	margin: 30px auto;
}

.class-list {
	display: inline-block;
	width: 25%;
}	

.class-student-list {
	cursor: pointer;
	padding: 50px 20px;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	position: relative;

	p {
		font-size: 18px;
		color: #fff;
		text-shadow: 1px 1px #111;
		text-transform: capitalize;
	}

	.class-status-arrival {
		height: 20px;
		width: 20px;
		border-radius: 10px;
		background: $red;
		border-top: 2px solid #E74E3E;
		border-bottom: 2px solid #CC2B19;
		position: absolute;
		top: 10px;
		left: 15px;
		box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
		animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		z-index: 1;
	}
	@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);}}
	
	#class-small-arrival {
		font-size: 12px;
		color: #ebebeb;
		position: absolute;
		bottom: 0px;
		left: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		text-shadow: none;
		background-color: #007db3;
		padding: 10px;
		width: 100%;
	}

	#class-small-transit {
		font-size: 12px;
		color: #ebebeb;
		position: absolute;
		bottom: 0;
		left: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		text-shadow: none;
		background-color: #009980;
		padding: 10px;
		width: 100%;
	}
}

#stage-one {
	background-color: #546B8B;
	border-top: 4px solid #7087A9;
	border-bottom: 4px solid #090b10;
}

#stage-two {
	background-color: #0095D3;
	border-top: 4px solid #1abaff;
	border-bottom: 4px solid #006b99;
}

#stage-three {
	background-color: #00BA9B;
	border-top: 4px solid #00e6bf;
	border-bottom: 4px solid #00806a;
}

#stage-four {
	background-color: #3f485a;

	p {
		color: #515d75
	}
}

.change-teacher {
	background: transparent;
	border: none;
	position: absolute;
	right: 40px;
	top: 15px;
	cursor: pointer;
}

.teacher-name {
	color: $icon-green;
	font-size: 20px;
	margin-left: 15px;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.teacherSearch {
	width: 100%;
	height: 40px;
	font-size: 14px;
	padding: 10px;
	border: none;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}


//=============================================================
// MODAL
//=============================================================
.hidden{
	display: none;
}

.modalBackground {
	position:absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}

.active {
	position: absolute;
	display: block;
	top: 125px;
	margin-left: 25%;
	width: 400px;
	height: 350px;
	overflow: scroll;
	border-radius: 5px;
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	animation: popup ease-in .2s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0,0,0,0.5);
	z-index: 999;

		h5 {
			background: linear-gradient(to bottom right, #00B4A5, #00A8B6);
			padding: 15px;
			color: #fff;
			font-weight: 300;
			text-transform: uppercase;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		button {
			width: 200px;
			height: 50px;
			font-size: 15px;
			text-align: center;
			display: block;
			margin-left: 50%;
			margin-top: 30px;
			margin-bottom: 30px;
			transform: translate(-50%);
			font-family: 'Lato';
			font-size: 14px;
			color: #fff;
			background: linear-gradient($header-blue, #007db3);
			border: none;
			cursor: pointer;
			border-radius: 5px;
			box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		}

		#cancel {
			background: linear-gradient($red, #ad1f32);
		}
}

@keyframes popup {
    from {transform: scale(.5)}
    to {transform: scale(1)}
}

#teacher-modal-button {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 300px;
	text-transform: capitalize;
}

.scroll-text-right {
	position: absolute;
	top: 175px;
	right:-15px;
	transform: rotate(90deg);
	font-size: 18px;
	color: #515D75;
}

.scroll-text-left {
	position: absolute;
	top: 175px;
	left: -15px;
	transform: rotate(-90deg);
	font-size: 18px;
	color: #5e6c87;
}


// Authorized Drivers //
.driver-list {
	width: 100%;
	
	.driver-title {
		background-color: #1E2633;
		color: #fff;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;

		p {
			padding: 5px;
			font-size: 12px;
		}
	}

	p {
		text-align: center;
		padding: 5px;
		color: #fff;
		font-weight: 300;
	}

	.arrow {
		color: $icon-green;
		transform: translate(-10%);
		vertical-align: bottom;
	}
}


//=============================================================
// ALL TEACHERS PAGE
//=============================================================
.all-teacher-container {
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	height: 100vh;
}

.all-teacher-overflow {
	height: 85vh;
	overflow: scroll;
}

.all-teacher-wrapper {
	
	p {
		font-weight: 300;
		font-size: 18px;
		padding: 18px 8px 18px 20px;
		color: #fff;
		border-bottom: 1px dashed #343c4b;
		border-left: 5px solid $icon-green;
		text-transform: capitalize;
	}
}

//=============================================================
// ALL STUDENT PAGE
//=============================================================
.all-student-container {
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	height: 100vh;
}

.all-student-overflow {
	height: 85vh;
	overflow: scroll;
}

.all-student-wrapper {

	p {
		font-weight: 300;
		font-size: 18px;
		padding: 18px 8px 18px 20px;
		color: #fff;
		border-bottom: 1px dashed #343c4b;
		border-left: 5px solid $icon-green;
		text-transform: capitalize;
	}
}

//=============================================================
// SETTINGS PAGE
//=============================================================
.settings-container {
	background: linear-gradient(to right bottom, #515D75, #333A4A) no-repeat;
	height: 100vh;
}

.reset-div {
	width: 100%;
	text-align: center;
	padding: 40px 0 20px 0;
}

.reset-button {
	width: 300px;
	height: 40px;
	background: linear-gradient($red, #ad1f32);
	color: #fff;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	font-family: 'Lato';
	text-transform: uppercase;
	cursor: pointer;
}

.settings-buttons {
	text-align: center;
}

.add-button {
	width: 300px;
	height: 40px;
	background: linear-gradient(#0095D3, #006b99);
	color: #fff;
	border-radius: 5px;
	border: none;
	font-family: 'Lato';
	text-transform: uppercase;
	cursor: pointer;
	margin: 10px;

	p {
		font-size: 14px;
	}
}

.reset-warning {
	padding: 20px 40px;
	color: #ebebeb;
}


